* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #292929;
    font-family: 'arial';
}

header {
    background: #03A9F4;
    width: 100%;
    clear: both;
    content:'';
    display: table;
    border-bottom-style: solid;
    border-bottom-color: #FF5733;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img {
    width: 106px;
    height: 60px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
}

nav ul li {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;

}

nav ul li a:hover::before {
    width: 100%;
}

/*Contenido Principal*/
#principal{
    width: 80%;
    height: auto; overflow: hidden;
    border: 1px solid;
    margin: 10px auto;
}



.post{
    width: 96%;
    height: auto; overflow: hidden; 
    padding: 7px;
    background: #fdfdfd;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #0489B1;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #ccc;
    margin-bottom: 25px;
}

.enlace-post{
    text-decoration: none;

}

#publicaciones a .titulo-post{
    color: #6e6e6e;
    font-size: 22px;
    font-family: 'calibri light';   

}

#publicaciones a .titulo-post:hover{
    text-decoration: underline;
}

#publicaciones .img-post{
    width: 150px;
    height: 100px;
    float: left;
    margin: 7px 7px 7px 0px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#publicaciones .datos-publicaciones{
    font-family: 'calibri-light';
    color: #0489B1;
}

#publicaciones .parrafo-post{
    font-family: 'calibri-light';
    font-size: 16px;
    color: #848484;
    padding: 5px;
}

#publicaciones .leer-mas{
    background: #0489B1;
    color: #fff;
    border: 0px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

#publicaciones .leer-mas:hover{
    background: #fff;
    color: #0489B1;
}

#publicaciones .num-comentarios{
    background: #298bfa;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

#publicaciones .enlace-paginacion{
    text-decoration: none;
    color: #0489B1;
}

#publicaciones .enlace-paginacion:hover{
    text-decoration: underline;
    color: #0489B1;
}

/*noce*/

.enlace-sidebar{
    width: 100%;
}